<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h3>Bem-vindo(a) a BITCOINSCHOOL</h3>
      <img src="../../../../assets/img/logo-bitcoin-school-144x68.png" class="my-4" alt="" width="180px">
    </div>
  </div>
  <div class="col-md-6">
    <form class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Bem-vindo(a) a BITCOINSCHOOL</h3>
        <img src="../../../../assets/img/logo-bitcoin-school-144x68.png" class="my-4" alt="" width="180px">
      </div>
      <div class="form-row">
        <div>
          <h3>Vamos começar</h3>
          <h6>BitcoinSchool é uma carteira segura e aprovada no mundo web3.</h6>
        </div>
        <br>
        <div class="form-group col-12">
          <button type="button" class="btn btn-warning btn-lg btn-block" (click)="criarCarteira()">Criar uma nova carteira</button>
        </div>
      <br>
        <div class="form-group col-12">
          <button type="button" class="btn btn-outline-warning btn-lg btn-block" (click)="importarCarteira()">Importar uma carteira</button>
        </div>
      </div>
    </form>
  </div>
</div>
